@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@*
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>*@
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
        <a class="nav-link active ms-0" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/History">History Payment</a>
       @* <a class="nav-link" href="#">Tickets Buy</a>*@
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    @if (!String.IsNullOrEmpty(Model.Input.ProfilePicture))
                    {
                        <img class="img-account-profile rounded-circle mb-2" src="/Uploads/@Model.Input.ProfilePicture" alt="">
                        <div class="small font-italic text-muted mb-4">@Model.Input.Name</div>
                        <!-- Profile picture help block-->
                    }
                    else
                    {
                        <img class="img-account-profile rounded-circle mb-2" src="~/images/avatar.jpg" alt="">
                        <div class="small font-italic text-muted mb-4">@Model.Input.Name</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                <div class="card-header">@ViewData["Title"]</div>
                    <div class="card-body">
                    <form id="change-password-form" method="post">
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                            <label class="small mb-1" asp-for="Input.OldPassword" for="inputPassword">Enter Your Old Password</label>
                            <input class="form-control" asp-for="Input.OldPassword" id="inputPassword" type="text" placeholder="Enter your Old Password">
                            </div>
                            <div class="mb-3">
                            <label class="small mb-1" asp-for="Input.NewPassword" for="inputPassword">Enter Your New Password</label>
                            <input class="form-control" asp-for="Input.NewPassword" id="inputPassword" type="password" placeholder="Enter your New Password">
                            </div>
                            <div class="mb-3">
                            <label class="small mb-1" asp-for="Input.ConfirmPassword" for="inputPassword">Confirm New Password</label>
                            <input class="form-control" asp-for="Input.ConfirmPassword" id="inputPassword" type="password" placeholder="Confirm your Password">
                            </div>
                            <!-- Form Row-->
                            <!-- Form Row-->
                        <button type="submit" class="btn btn-primary">Save</button>
                        <partial name="_StatusMessage" for="StatusMessage" />
                     </form>
                    </div>
                </div>
            </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
