@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout="_Layout";
    ViewData["Title"] = "DUTC Service";
}
<div class="about">
    <div class="container_width">
        <div class="row d_flex grig">
            <div class="col-md-6">
                <div class="about_img">
                    <figure>
                        <img src="https://cdn.tgdd.vn/Files/2019/10/31/1214275/tim-hieu-tinh-nang-wifi-location-tren-smartwatch-1.jpg" alt="#" />
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order">
                <div class="titlepage text_align_left">
                    <h2>About Our Address Cinema</h2>
                    <p>
                        DUTC Cinema Center located at <strong>58 Nguyen Luong Bang</strong>, Lien Chieu district, Danang city.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="about">
    <div class="container_width">
        <div class="row d_flex grig">
            <div class="col-md-6">
                <div class="about_img">
                    <figure>
                        <img src="https://entrepreneurship.babson.edu/wp-content/uploads/2020/10/Movie-1200-630.jpg" alt="#" />
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order">
                <div class="titlepage text_align_left">
                    <h2>About Our Center</h2>
                    <p>
                        At DUTC Cinema, we strive to provide an exceptional movie experience that goes beyond expectations. Whether you are a film enthusiast, a casual viewer, or looking for a fun outing with friends and family, our cinema promises to deliver the perfect blend of comfort, technology, and entertainment.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="about">
    <div class="container_width">
        <div class="row d_flex grig">
            <div class="col-md-6">
                <div class="about_img">
                    <figure>
                        <img src="https://www.techuz.com/blog/wp-content/uploads/2019/08/Online-Movie-Ticket-Booking-Banner-1-1280x720.jpg" alt="#" />
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order">
                <div class="titlepage text_align_left">
                    <h2>Online Booking Ticket</h2>
                    <p>
                     DUTC Cinema understands the importance of convenience. We offer online booking and ticketing services, allowing our customers to reserve their seats in advance. With a user-friendly interface, our online platform enables hassle-free ticket purchases, saving you time and effort.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="about">
    <div class="container_width">
        <div class="row d_flex grig">
            <div class="col-md-6">
                <div class="about_img">
                    <figure>
                        <img src="https://symphonycinemas.com/wp-content/uploads/2021/05/779147651.jpg" alt="#" />
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order">
                <div class="titlepage text_align_left">
                    <h2>Screening Technology</h2>
                    <p>
                       At DUTC Cinema, we believe in delivering the highest quality visuals and audio. Our screens feature advanced digital projection technology, ensuring vibrant colors, sharp details, and an immersive cinematic experience. Coupled with Dolby Atmos surround sound, every movie comes to life with crystal-clear audio that envelops the audience, making them feel like they are part of the action.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="about">
    <div class="container_width">
        <div class="row d_flex grig">
            <div class="col-md-6">
                <div class="about_img">
                    <figure>
                        <img src="~/images/galaxy.jpg" alt="#" />
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order">
                <div class="titlepage text_align_left">
                    <h2>Special Events and Promotions</h2>
                    <p>
                        We regularly organize special events and promotions to make your cinema experience even more enjoyable. These may include midnight screenings, themed movie nights, advanced screenings, and exclusive premieres. Additionally, we offer loyalty programs and discounts for frequent visitors, ensuring that our valued customers receive added benefits and rewards.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

